<!-- Simple html file just to add come style to email -->

<header style="background-color: #3fa1ff; color: white; padding: 10px;">
  <center style="text-align:center">
    <h1>Welcome to our Plataform!</h1>
  </center>
</header>

<footer style="background-color: #3fa1ff; color: white; padding: 10px;">
  <center>
    <h1>Follow us!</h1>
  </center>
</footer>