<!-- Simple html file just to add some style to email -->

<header style="background-color: #3fa1ff; color: white; padding: 10px;">
  <center style="text-align:center">
    <h1>Welcome to our Plataform!</h1>
  </center>
</header>

<footer style="background-color: #3fa1ff; color: white; padding: 10px;">
  <center>
    <h1>Follow us!</h1>
    <h3><a href="https://bit.ly/3zvjeTY">Contact's Book Page</a></h3>
  </center>
</footer>